<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Model list</th>
      <th>Is create</th>
      <th>Is read</th>
      <th>Is update</th>
      <th> Is destroy</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.model_list_id %></td>
        <td><%= permission.is_create %></td>
        <td><%= permission.is_read %></td>
        <td><%= permission.is_update %></td>
        <td><%= permission.is_destroy %></td>
        <td><%= permission.role_id %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path %>
