<%= form_with(model: model_list, local: true) do |form| %>
  <% if model_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model_list.errors.count, "error") %> prohibited this model_list from being saved:</h2>

      <ul>
      <% model_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :model_list_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
